[Unit]
Description=gunicorn service for roomi application by Jesus Mendoza and Ramon Mendoza
After=network.target

[Service]
Environment=SECRET_KEY={{ secret_key }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASSWORD={{ db_password }}
Environment=DB_NAME={{ db_name }}
Environment=DB_HOST={{ db_host }}
Environment=ALLOWED_HOSTS={{ allowed_hosts }}
Environment=DJANGO_SETTINGS_MODULE={{ django_settings_module }}

User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/roomi-backend/roomi
ExecStart=/home/ubuntu/.local/bin/gunicorn --preload -w 3 -b 127.0.0.1:8000 roomi.wsgi

[Install]
WantedBy=multi-user.target
